@import "/styles/glyphs.css";

.query-scroller {
  -fx-border-radius: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;  
}

.console-error {
  -fx-fill: red;
}

.popup-message {
  -fx-padding: 5 5 5 5;
  -fx-background-color: #FFF7D1;
  -fx-border-width: 1;
  -fx-border-color: #C5C5C5;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-effect: dropshadow( three-pass-box , rgba(100,100,100,0.5) , 10,0,0,0 );
}

.popup-header {
  -fx-font-weight: bold;
}

.popup-info {}

.popup-error {
  -fx-background-color: #FFD2C1;
}

.log-title-label {
  -fx-font-weight: bold;
}

.log-open-button {
  -fx-border-radius: 5 1 5 1;
  -fx-background-radius: 5 1 5 1;
  -fx-padding: 3 5 3 5;
}

.close-button {
  -fx-background-color: transparent, transparent, transparent, transparent;
}

.close-button:hover{
  -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.close-button:armed {
  -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.db-collection-tooltip {
  -fx-font-size: 12;
}

.suggest-optional-args {
  -fx-font-style: italic;
}

.suggest-args {
  -fx-text-fill: gray;
}