/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@import "/styles/glyphs.css";

.query-scroller {
  -fx-border-radius: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;  
}

.console-error {
  -fx-fill: red;
}

.popup-message {
  -fx-padding: 5 5 5 5;
  -fx-background-color: #FFF7D1;
  -fx-border-width: 1;
  -fx-border-color: #C5C5C5;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-effect: dropshadow( three-pass-box , rgba(100,100,100,0.5) , 10,0,0,0 );
}

.popup-header {
  -fx-font-weight: bold;
}